body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /*para quebrar sem encostar os elementos e separar a logo do menu no mobile*/
  padding: 20px;
  box-sizing: border-box; /*Para conter o conteudo de tamanho maximo, já que sem ele ia somar o 1200px mais 20px de padding*/
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  font-size: 1.125rem;
  padding: 16px 0px; /*aumenta area de clique mobile, só vertical para nao ficar mt espaçado no desk*/
  display: inline-block; /*jaq a é el. inline, na hora de quebrar usamos block pra não "atropelar" os outros elementos*/
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  background: #fff;
  width: 0px; /*Começa sem tamanho para que quando passe o mouse em cima ele tenha 100% o tamanho do pai <a>*/
  height: 2px;
  margin-top: 4px;
  position: absolute; /*fez com q o <a> nao saia do fluxo e fique desalinhado*/
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    background-color: #111111;
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}
